.checkout {
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}

.checkout__ad {
    width: 100%;
    margin-bottom: 10px;
}

.checkout__title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.checkout__left {
    display: flex;
    flex-direction: column;
}

.checkoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    align-items: center;
}

.checkoutProduct img{
    width: 180px;
    height: 180px;
    object-fit: contain;
}
.checkout__info{
    padding-left: 20px;

}

.checkoutProduct__title{
    font-size: 17px;
    font-weight: 800;

}
.checkoutProduct__price{
    margin: 20px 0px;

}
.checkoutProduct__info button{
    background-color: #f0c14b;
    border: 1px solid;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
   
}

.subtotal button{
    background-color: #f0c14b;
    border: 1px solid;
    padding: 5px 10px;
    /* border-radius: 10px; */
    cursor: pointer;
}