.header {
    height: 60px; 
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo {
    display: flex;
    align-items: center;
    color: #ff9f00;
    margin: 0 25px;
    height: 10px;
    width: 20px;
}

.header__logoImage {
    margin-right: 10px;
}

.header__logoTitle {
   
    width: 150px;
}

.header__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
    margin: 0 10px;
}

.header__searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
    margin-left: 150px
}

.header__searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: #ff9f00;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.nav__item {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;  
    color: white;
}

.nav__itemLineOne {
    font-size: 10px;
}

.nav__itemLineTwo {
    font-size: 13px;
    font-weight: 800; 
    color: white;
}

.nav__itemBasket {
    display: flex;
    align-items: center;
    color: white;
    margin-right: 50px;
    margin-left: 10px;
}
.nav__iconBasket{
    color: white;
}

.nav__basketCount {
    margin-left: 10px;
    margin-right: 10px;
}


.header__bottom{
    background-color: #232f3e;
   
    height: 60px; 
    /* display: flex; */
    /* align-items: center; */
    /* background-color: #131921; */
    position: sticky;
    /* top: 0; */
    /* z-index: 100; */

}
.header__bottom ul{
    list-style: none;
    padding: 5px 30px 10px 30px;
    margin: 0;
    display: flex;
    align-items: center;

}
.header__bottom ul li{
    margin-right: 20px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}
.header__bottom ul li img{
    height: 50px;
    width: auto;
}