/* .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
  } */
  .product {
    display: grid;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    z-index: 1;
    background-color: white;
}
 .product__rating {
    display: flex;
  }
  
   .product > img {
    max-height: 180px;
    width: 100%;
    object-fit: contain;
    /* margin: 20px 0 0 15px; */
    margin: 39px 4px 0px 15px;

  } 
  
  .product > button {
    background: #ff9f00;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    border-radius: 10px;
    padding: 5px;
  }
   
  .product__price {
    margin-top: 5px;
  }
   
  .product__info {
    height: 100px;
    /* margin-bottom: 15px; */
  } 