.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100vw;
}

.header__logo {
    display: flex;
    align-items: center;
    color: #ff9f00;
    margin: 0 25px;
    height: 10px;
    width: 10vw;
}

.header__logoTitle {
    width: 80%;
    display: flex;
    position: static;
    float: none;
    flex-shrink: 0;
    text-decoration: none;
    padding: 6px 6px 0 6px;
    margin: 1px;
    cursor: pointer;
}

.header__logoTitle:hover {
    width: 110px;
    border: 2px solid #ffffff;
}

.header__search {
    display: flex;
    flex: 1 1;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    margin: 0 10px;
    width: 50vw;
}

.search-container {
    display: flex;
    width: 100%;
}

.search-input {
    width: 100%;
    line-height: 15px;
    padding: 7px 10px 10px 0;
    margin: 0;
    border: 0;
    height: 40px;
    font-family: inherit;
    font-size: 15px;
    color: #111;
    box-shadow: none;
    text-indent: 8px;
    border-radius: 4px 0 0 4px;
}

.search-btn {
    height: 40px;
    width: 8vw;
    overflow: hidden;
    cursor: pointer;
    border: none;
    border-radius: 0 4px 4px 0;
    border-radius: 0\9;
    background-position: 0 -381px;
    background-color: #febd69;
}

.search-btn:hover {
    background-color: #f59c29;
}

.header__nav {
    display: flex;
    width: 20vw;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}

.nav__item {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.nav__item:hover {
    border: 2px solid #ffffff;
    padding: 6px 6px;
}

.nav__itemLineOne {
    font-size: 10px;
}

.nav__itemLineTwo {
    font-size: 13px;
    font-weight: 800;
    color: white;
}

.nav__itemBasket {
    display: flex;
    align-items: center;
    color: white;
    margin-right: 50px;
    margin-left: 10px;
}

.nav__itemBasket:hover {
    border: 2px solid #ffffff;
    padding: 4px 4px;
}

.nav__iconBasket {
    color: white;
}

.nav__basketCount {
    margin-left: 10px;
    margin-right: 10px;
}

.header__bottom {
    background-color: #232f3e;
    height: 60px;
    position: sticky;
}

.header__bottom ul {
    list-style: none;
    padding: 5px 30px 10px 30px;
    margin: 0;
    display: flex;
    align-items: center;
}

.header__bottom ul li {
    margin-right: 20px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

.header__bottom ul li img {
    height: 50px;
    width: auto;
}